$dark-orange: #db5843;
$orange: #f29253;
$dark-blue: #00526b;

$primary:       $dark-orange;
$secondary:     $orange;
$info:          $dark-blue;

$theme-colors: (
        "dark-blue": $dark-blue,
        "dark-orange": $dark-orange
);

@import "../vendor/twbs/bootstrap/scss/bootstrap";

a.text-info{
  -webkit-appearance: none;
}
